footer {
    margin-top: 3rem;
    margin-inline: auto;
    height: 6rem;
    text-align: center;
    .copy{
        margin-bottom: 1rem;
    }
}



@media (width >=80em) {
    footer {
        display: flex;

        .copy {
            margin-right: auto;
        }
    }
}