#gallery {
    margin-inline: auto;

    .pictures {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;

        img {
            width: 22.5rem;
            height: 22.5rem;
        }
    }

}




@media (width >=80em) {
    #gallery {
        margin-top: 5rem;


        .pictures {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 1rem;
            margin-inline: auto;

            img {
                width: 19.25rem;
                height: 19.25rem;
            }
        }

    }

    #gallery .pictures img {
        width: 19.25rem;
        height: 19.25rem;
    }

}