*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-sans: "Poppins", sans-serif;
    --px-base: 1rem;
    --py-base: 1rem;
    --brand-color: #EF5F4C;
    --bg-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: hsla(0, 0%, 100%, 0.562);
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --h1: 700 2rem/125% var(--ff-sans);
    --p-md: 400 0.875rem/170% var(--ff-sans);
    --p-sm: 400 0.75rem/170% var(--ff-sans);


}

body {
    margin-inline: auto;
    padding-inline: var(--px-base);
    padding-block: var(--py-base);
    font-family: var(--ff-sans)
}

main{
    margin-inline: auto;


}

p,span{
    color: var(--text-color-secondary);
}

a{
    font: var(--ff-sans);
    color: var(--text-color-secondary);
}
a:hover {
    color: var(--brand-color);
}


@media (width>=80em) {
    

    :root {
        --px-base: 2rem;
        --py-base: 2rem;
    }
}