.flex {
    display: flex;
}

.grid {
    display: grid;
}

.desktop-only {
    display: none;
}

.gap {
    gap: 1rem;
}
.container{
    max-width: 27.75rem;
}




@media (width >=80rem){
    .container{
        max-width: 80rem;
    }

    .desktop-only{
        display: inline-block;
    }
}